/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container{
    width: 1080px;
    margin: 0 auto;
}

.bg-1{
    background-color: lightgoldenrodyellow;
}
.bg-2{
    background-color: lightgray
}
.bg-3{
    background-color: darkslategrey;
}

/* HEADER */

header{
    background-color: rgb(112, 219, 251);
    min-height: 80px;
    padding: 20px; 
}

.menu{
    background-color: orange;
    width: 1080px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px dashed black;
}

.logo{
    flex-basis: 20%;
    border-right: 2px dashed black;
    padding: 15px
}

.link{
    flex-basis: 60%;
    text-align: center;
    padding: 15px
}

.login{
    flex-basis: 20%;
    border-left: 2px dashed black;
    text-align: end;
    padding: 15px
}

/* MAIN */

/* box piccolo */

.row-1{
    min-height: 350px;
    background-color: rgb(1, 1, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    flex-basis: 750px;
    height: 280px;
    background-color: pink;
    border: 2px dashed black;
}

/* box simili */

.row-2{
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    display: flex;
    height: 280px;
    border: 2px dashed black;
}
.left{
    flex-basis: 60%;
    background-color: cornflowerblue;
    border-right: 2px dashed black;
}

.right{
    flex-basis: 40%;
    background-color: blueviolet;
}

/* box grande */

.row-3{
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3{
    height: 560px;
    border: 2px dashed black;
    background-color: green
}

/* box con minibox */

.row-4{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-4{
    display: flex;
    height: 380px;
    border: 2px dashed black;
    margin-bottom: 20px;
}

.left-2{
    flex-basis: 30%;
    background-color: rgb(237, 100, 100);
    border-right: 2px dashed black;
}

.right-2{
    flex-basis: 70%;
    background-color: darkturquoise;
    display: flex;
}
.minibox{
    flex-basis: 25%;
    border: 2px dashed white;
}

/* FOOTER */

footer{
    min-height: 80px;
    background-color: darkslategrey;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer-box{
    background-color: aquamarine;
    width: 1080px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: darksalmon;
    width: 70px;
    height: 30px;
    border: 2px dashed black;
}
